/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 3rem;
    padding-bottom: 6rem;
    background: white;
    /* -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px); */
    z-index: 10;
}

.header__navigation {
    width: 100%;
    height: auto;
    display: inline-flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.header__item {
    width: auto;
    height: auto;
    border-radius: 1rem;
    /* border-radius: 50%; */
    border: 1px solid rgb(239, 239, 239);
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    cursor: pointer;
    transition: all 250ms ease;
    gap: 1rem;
    color: #b8b8b8;
}

.header__item--on::after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid transparent;
    transition: all 250ms ease;
}

.header__icon {
    width: 2.25rem;
    height: 2.25rem;
    object-fit: contain;
}

.header__message {
    font-size: 1.6rem;
}

.header__item:hover,
.header__item--on {
    color: black;
    background-color: rgba(245, 246, 250, 1);
}

.header__item:hover::after,
.header__item--on::after {
    background: rgba(245, 246, 250, 1);
    border-color: rgb(239, 239, 239);
}

@media all and (max-width: 510px) {
    .header {
        background: white;
        padding-bottom: 6rem;
    }

    .header__navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .header__item {
        border-radius: 50%;
    }

    .header__item::after {
        content: attr(data-value);
        width: auto;
        height: auto;
        border: none;
        background: none;
        font-size: 1.2rem;
    }

    .header__item:hover,
    .header__item--on {
        color: black;
        background-color: rgba(245, 246, 250, 1);
    }

    .header__item:hover::after,
    .header__item--on::after {
        background: none;
        border-color: none;
    }

    .header__message {
        display: none;
    }
}

@media all and (max-width: 414px) {
    .header {
        padding-bottom: 4.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .header__navigation {
        justify-content: space-evenly;
    }

    .header__item::after {
        bottom: -2.5rem;
    }

}