/* sheet */

.sheet {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sheet-bg);
    z-index: 10;
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
    transition: all 250ms 100ms ease;  
}

.sheet--on {
    animation: sheet-on 250ms ease 0ms 1 normal forwards;
}

@keyframes sheet-on {
    0% {
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
}

.sheet--off {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
    animation: sheet-off 500ms ease 0ms 1 normal forwards;
}

@keyframes sheet-off {
    50% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}

.sheet__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 3rem;
}

.sheet__body {
    max-width: 720px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--sheet-body-bg);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.sheet__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    padding: 1rem;
    z-index: 10;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
}

.bar__info {
    display: none;
}

.bar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(239, 239, 239);
}

.bar__nav_item {
    /* margin-left: 1rem; */
    cursor: pointer;
}

.bar__apply {
    color: var(--sheet-bar-apply);
}

.bar__close {
    color: var(--sheet-bar-close);
}

.bar__delete {
    color: var(--sheet-bar-delete);
}

.bar__delete--off {
    display: none;
}

/* sheet__scrolable */

.sheet__scrolable {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 3rem;
}

.sheet__header {
    width: 100%;
    height: auto;
    padding: 5rem 2rem;
    /* border-bottom: 2px dashed rgba(0, 0, 0, 0.125); */
}

.sheet__name {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

textarea {
    border: none;
    width: 100%;
    color: var(--sheet-main-textarea-text);
    resize: none;
    outline: none;
    overflow: auto;
}

.sheet__name textarea {
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
}

.sheet__name textarea::placeholder {
    color: var(--sheet-main-name-placeholder);
}

.sheet__disc textarea {
    font-size: 2rem;
    font-weight: 500;
    color: var(--sheet-main-desc-text);
    /* text-decoration: none; */
}

.sheet__disc textarea::placeholder {
    color: var(--sheet-main-desc-text);
}

.sheet__main {
    width: 100%;
    height: auto;
    padding: 0rem 2rem;
}

.sheet__new {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

#sheet__new_btn {
    display: flex;
    margin: 0 auto;
    background: none;
    border: 1px solid var(--sheet-main-button-border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: auto;
    font-size: 1.4rem;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.sheet__list {
    width: 100%;
    height: auto;
}

.sheet__list {
    width: 100%;
    height: auto;
    list-style: none;
    margin-bottom: 2rem;
}

.sheet__list_item {
    width: 100%;
    height: auto;
    min-width: 1em;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 2.4rem 1fr;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.sheet__list_item textarea {
    font-size: 1.8rem;
}

.sheet__list_check {
    position: relative;
    width: 100%;
    height: auto;
}

.sheet__list_input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    outline: none;
    opacity: 0;
}

.sheet__list_box {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='rgba(255, 159, 10, 1)' /%3E%3C/svg%3E");
}

.sheet__list_input:checked+.sheet__list_box {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z' fill='rgba(255, 159, 10, 1)' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z' fill='rgba(255, 159, 10, 1)' /%3E%3C/svg%3E");
}

@media all and (max-width: 510px) {
    .sheet__wrapper {
        padding: 0;
    }

    .sheet__body,
    .sheet__bar {
        border-radius: 0;
    }

    .sheet__bar {
        bottom: 0;
        top: auto;
        font-size: 2.4rem;
        padding: 1rem 0;
        padding-bottom: 2.25rem;
    }

    .bar__nav {
        padding: 0.5rem 0rem;
        border: none;
    }

    .bar__nav_item {
        flex: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
    }

    .bar__nav_item::after {
        content: attr(data-value);
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        text-align: center;
        bottom: -1.5rem;
        font-size: 1rem;
        color: black;
    }

    .bar__nav_item span {
        opacity: 0;
    }

    .bar__delete {
        background-image: url("../icons/bin.png");
    }

    .bar__close {
        background-image: url("../icons/todo.png");
    }

    .bar__apply {
        background-image: url("../icons/ok.png");
    }

    .sheet__scrolable {
        padding-top: 0;
        height: calc(100% - 7.15rem);
    }
}
